Source: xli
Section: graphics
Priority: optional
Maintainer: rno <rno@notmail.not>
Build-Depends: debhelper-compat (= 13),
               libjpeg-dev,
               libpng-dev,
               libx11-dev,
               libxext-dev,
	       libexif-dev,
	       libwebp-dev,
	       libtiff-dev,	       
               pkgconf,
               zlib1g-dev
Standards-Version: 4.7.0
Rules-Requires-Root: no
Vcs-Browser: https://salsa.debian.org/debian/xli
Vcs-Git: https://salsa.debian.org/debian/xli.git

Package: xli
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: command line tool for viewing images in X11
 xli can view the following image types under X11: 
  Portable Network Graphics (PNG)
  GIF Image
  JFIF style jpeg Image
  WEBP Image
  Targa Image (TGA)
  Windows, OS/2 RLE Image (early BMP)
  Portable Bit Map (PNM, PBM, PGM, PPM)
  PC Paintbrush Image (PCX)
  X Pixmap XPM
  X Bitmap XBM
  X Window Dump XWD
  Tag Image File Format (TIFF)
  Sun Rasterfile RAS
  CMU WM Raster
  Facesaver Project (FS)
  G3 FAX Image
  FBM Image
  Utah RLE Image (RLE)
  GEM Image (IMG)
  MacPaint Image
  